.react-colorful {
  width: 100% !important;
}

.hexInput {
  display: block;
  box-sizing: border-box;
  width: 90px;
  margin: 0 5px 20px;
  padding: 6px;
  border-radius: 4px;
  background: #eee;
  outline: none;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  align-self: flex-start;
  justify-self: flex-start;
  transition: border-color 0.2s ease-in-out;
}
