@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {

    /* primary */
    --color-primary: calc(var(--primary-color-h) + var(--hRange))
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-primary--light: calc(var(--primary-color-h) + var(--hRange) * 1.25)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-primary--lighter: calc(var(--primary-color-h) + var(--hRange) * 1.5)
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-primary--lightest: calc(
        var(--primary-color-h) + var(--hRange) * 1.75
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-primary--max-light: calc(var(--primary-color-h) + var(--hRange) * 2)
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-primary--dark: calc(var(--primary-color-h) + var(--hRange) / 1.25)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-primary--darker: calc(var(--primary-color-h) + var(--hRange) / 1.5)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-primary--darkest: calc(
        var(--primary-color-h) + var(--hRange) / 1.75
      )
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-primary--max-dark: calc(var(--primary-color-h) + var(--hRange) / 2)
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    /* secondary */
    --color-secondary: calc(var(--primary-color-h) + var(--hRange) + 180)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-secondary--light: calc(var(--primary-color-h) + var(--hRange) + 180)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-secondary--lighter: calc(
        var(--primary-color-h) + var(--hRange) + 180
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-secondary--lightest: calc(
        var(--primary-color-h) + var(--hRange) + 180
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-secondary--max-light: calc(
        var(--primary-color-h) + var(--hRange) + 180
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-secondary--dark: calc(var(--primary-color-h) + var(--hRange) + 180)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-secondary--darker: calc(var(--primary-color-h) + var(--hRange) + 180)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-secondary--darkest: calc(
        var(--primary-color-h) + var(--hRange) + 180
      )
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-secondary--max-dark: calc(
        var(--primary-color-h) + var(--hRange) + 180
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);



    /* tertiary-1 */

    --color-tertiary-1: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-tertiary-1--light: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-tertiary-1--lighter: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-tertiary-1--lightest: calc(
        var(--primary-color-h) + var(--hRange) - 90
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-tertiary-1--max-light: calc(
        var(--primary-color-h) + var(--hRange) - 90
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-tertiary-1--dark: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-tertiary-1--darker: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-tertiary-1--darkest: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-tertiary-1--max-dark: calc(
        var(--primary-color-h) + var(--hRange) - 90
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    /* tertiary-2 */

    --color-tertiary-2: calc(var(--primary-color-h) + var(--hRange) + 90)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-tertiary-2--light: calc(var(--primary-color-h) + var(--hRange) + 90)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-tertiary-2--lighter: calc(
        var(--primary-color-h) + var(--hRange) + 90
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-tertiary-2--lightest: calc(
        var(--primary-color-h) + var(--hRange) + 90
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-tertiary-2--max-light: calc(
        var(--primary-color-h) + var(--hRange) + 90
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-tertiary-2--dark: calc(var(--primary-color-h) + var(--hRange) + 90)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-tertiary-2--darker: calc(var(--primary-color-h) + var(--hRange) + 90)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-tertiary-2--darkest: calc(
        var(--primary-color-h) + var(--hRange) + 90
      )
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-tertiary-2--max-dark: calc(
        var(--primary-color-h) + var(--hRange) + 90
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);



    /* accent-1 */
    --color-accent-1: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-accent-1--light: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-accent-1--lighter: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-accent-1--lightest: calc(
        var(--primary-color-h) + var(--hRange) - 45
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-accent-1--max-light: calc(
        var(--primary-color-h) + var(--hRange) - 45
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-accent-1--dark: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-accent-1--darker: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-accent-1--darkest: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-accent-1--max-dark: calc(
        var(--primary-color-h) + var(--hRange) - 45
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    /* accent-2 */

    --color-accent-2: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-accent-2--light: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-accent-2--lighter: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-accent-2--lightest: calc(
        var(--primary-color-h) + var(--hRange) + 45
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-accent-2--max-light: calc(
        var(--primary-color-h) + var(--hRange) + 45
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-accent-2--dark: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-accent-2--darker: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-accent-2--darkest: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-accent-2--max-dark: calc(
        var(--primary-color-h) + var(--hRange) + 45
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    /* accent-3 */
      --color-accent-3: calc(var(--primary-color-h) + var(--hRange) - 135)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-accent-3--light: calc(var(--primary-color-h) + var(--hRange) - 135)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-accent-3--lighter: calc(var(--primary-color-h) + var(--hRange) - 135)
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-accent-3--lightest: calc(
        var(--primary-color-h) + var(--hRange) - 135
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-accent-3--max-light: calc(
        var(--primary-color-h) + var(--hRange) - 135
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-accent-3--dark: calc(var(--primary-color-h) + var(--hRange) - 135)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-accent-3--darker: calc(var(--primary-color-h) + var(--hRange) - 135)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-accent-3--darkest: calc(var(--primary-color-h) + var(--hRange) - 135)
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-accent-3--max-dark: calc(
        var(--primary-color-h) + var(--hRange) - 135
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    /* accent-4 */

    --color-accent-4: calc(var(--primary-color-h) + var(--hRange) + 135)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-accent-4--light: calc(var(--primary-color-h) + var(--hRange) + 135)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-accent-4--lighter: calc(var(--primary-color-h) + var(--hRange) + 135)
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-accent-4--lightest: calc(
        var(--primary-color-h) + var(--hRange) + 135
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-accent-4--max-light: calc(
        var(--primary-color-h) + var(--hRange) + 135
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-accent-4--dark: calc(var(--primary-color-h) + var(--hRange) + 135)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-accent-4--darker: calc(var(--primary-color-h) + var(--hRange) + 135)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-accent-4--darkest: calc(var(--primary-color-h) + var(--hRange) + 135)
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-accent-4--max-dark: calc(
        var(--primary-color-h) + var(--hRange) + 135
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    --primary-color-h: 180;
    --primary-color-s: 50;
    --primary-color-l: 50;
    --lRange: 5%;
    --sRange: 5%;
    --hRange: 5;

    --color-white: #fff;
    --color-black: #000;
  }

  html,
  body {
    @apply min-h-screen;
  }

  body {
    @apply bg-white text-zinc-900 text-base p-0 px-5 leading-6 dark:bg-black dark:text-zinc-200;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply text-zinc-600 font-bold leading-none tracking-wide dark:text-zinc-300;
  }

  h1,
  .h1 {
    @apply text-4xl leading-relaxed font-extralight tracking-widest uppercase border-2 border-primary-500 rounded-xl py-1 dark:border-primary-500 dark:text-primary-300  dark:px-2;
  }
  h2,
  .h2 {
    @apply text-3xl tracking-wide font-light;
  }
  h3,
  .h3 {
    @apply text-2xl  font-light;
  }
  h4,
  .h4 {
    @apply text-xl  font-semibold;
  }
  h5,
  .h5 {
    @apply text-lg uppercase tracking-wide font-bold;
  }
  h6,
  .h6 {
    @apply text-base uppercase tracking-wide font-bold
  }

  a {
    @apply text-black underline underline-offset-2 opacity-80 transition-all duration-200 ease-in-out dark:text-white hover:opacity-70 dark:hover:text-primary-500;
  }

  button,
  .button {
    @apply bg-primary-500 text-tertiary-2-200 border-2 border-tertiary-2-200 rounded-md py-3 px-5 transition-all duration-200 ease-in-out hover:cursor-pointer;
  }

  label {
    @apply text-zinc-600 dark:text-zinc-300;
  }
}
