@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* primary */
    --color-primary: calc(var(--primary-color-h) + var(--hRange))
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-primary--light: calc(var(--primary-color-h) + var(--hRange) * 1.25)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-primary--lighter: calc(var(--primary-color-h) + var(--hRange) * 1.5)
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-primary--lightest: calc(
        var(--primary-color-h) + var(--hRange) * 1.75
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-primary--max-light: calc(var(--primary-color-h) + var(--hRange) * 2)
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-primary--dark: calc(var(--primary-color-h) + var(--hRange) / 1.25)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-primary--darker: calc(var(--primary-color-h) + var(--hRange) / 1.5)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-primary--darkest: calc(
        var(--primary-color-h) + var(--hRange) / 1.75
      )
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-primary--max-dark: calc(var(--primary-color-h) + var(--hRange) / 2)
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    /* secondary */

    --color-secondary: calc(var(--primary-color-h) + var(--hRange) + 90)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-secondary--light: calc(var(--primary-color-h) + var(--hRange) + 90)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-secondary--lighter: calc(
        var(--primary-color-h) + var(--hRange) + 90
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-secondary--lightest: calc(
        var(--primary-color-h) + var(--hRange) + 90
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-secondary--max-light: calc(
        var(--primary-color-h) + var(--hRange) + 90
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-secondary--dark: calc(var(--primary-color-h) + var(--hRange) + 90)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-secondary--darker: calc(var(--primary-color-h) + var(--hRange) + 90)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-secondary--darkest: calc(
        var(--primary-color-h) + var(--hRange) + 90
      )
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-secondary--max-dark: calc(
        var(--primary-color-h) + var(--hRange) + 90
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    /* tertiary */

    --color-tertiary: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-tertiary--light: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-tertiary--lighter: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-tertiary--lightest: calc(
        var(--primary-color-h) + var(--hRange) - 90
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-tertiary--max-light: calc(
        var(--primary-color-h) + var(--hRange) - 90
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-tertiary--dark: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-tertiary--darker: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-tertiary--darkest: calc(var(--primary-color-h) + var(--hRange) - 90)
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-tertiary--max-dark: calc(
        var(--primary-color-h) + var(--hRange) - 90
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    /* contrast */
    --color-contrast: calc(var(--primary-color-h) + var(--hRange) + 180)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-contrast--light: calc(var(--primary-color-h) + var(--hRange) + 180)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-contrast--lighter: calc(
        var(--primary-color-h) + var(--hRange) + 180
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-contrast--lightest: calc(
        var(--primary-color-h) + var(--hRange) + 180
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-contrast--max-light: calc(
        var(--primary-color-h) + var(--hRange) + 180
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-contrast--dark: calc(var(--primary-color-h) + var(--hRange) + 180)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-contrast--darker: calc(var(--primary-color-h) + var(--hRange) + 180)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-contrast--darkest: calc(
        var(--primary-color-h) + var(--hRange) + 180
      )
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-contrast--max-dark: calc(
        var(--primary-color-h) + var(--hRange) + 180
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    /* accent-1 */
    --color-accent-1: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-accent-1--light: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-accent-1--lighter: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-accent-1--lightest: calc(
        var(--primary-color-h) + var(--hRange) + 45
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-accent-1--max-light: calc(
        var(--primary-color-h) + var(--hRange) + 45
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-accent-1--dark: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-accent-1--darker: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-accent-1--darkest: calc(var(--primary-color-h) + var(--hRange) + 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-accent-1--max-dark: calc(
        var(--primary-color-h) + var(--hRange) + 45
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    /* accent-2 */

    --color-accent-2: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange))
      calc(var(--primary-color-l) + var(--lRange));

    --color-accent-2--light: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange) * 1.25)
      calc(var(--primary-color-l) + var(--lRange) * 1.25);

    --color-accent-2--lighter: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange) * 1.5)
      calc(var(--primary-color-l) + var(--lRange) * 1.5);

    --color-accent-2--lightest: calc(
        var(--primary-color-h) + var(--hRange) - 45
      )
      calc(var(--primary-color-s) + var(--sRange) * 1.75)
      calc(var(--primary-color-l) + var(--lRange) * 1.75);

    --color-accent-2--max-light: calc(
        var(--primary-color-h) + var(--hRange) - 45
      )
      calc(var(--primary-color-s) + var(--sRange) * 2)
      calc(var(--primary-color-l) + var(--lRange) * 2);

    --color-accent-2--dark: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.25)
      calc(var(--primary-color-l) + var(--lRange) / 1.25);

    --color-accent-2--darker: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.5)
      calc(var(--primary-color-l) + var(--lRange) / 1.5);

    --color-accent-2--darkest: calc(var(--primary-color-h) + var(--hRange) - 45)
      calc(var(--primary-color-s) + var(--sRange) / 1.75)
      calc(var(--primary-color-l) + var(--lRange) / 1.75);

    --color-accent-2--max-dark: calc(
        var(--primary-color-h) + var(--hRange) - 45
      )
      calc(var(--primary-color-s) + var(--sRange) / 2)
      calc(var(--primary-color-l) + var(--lRange) / 2);

    --primary-color-h: 180;
    --primary-color-s: 50;
    --primary-color-l: 50;
    --lRange: 5%;
    --sRange: 5%;
    --hRange: 5;

    --color-white: #fff;
    --color-black: #000;
  }

  html,
  body {
    @apply min-h-screen;
  }

  body {
    @apply bg-zinc-100 text-zinc-900 text-base p-0 px-5 leading-6 dark:bg-zinc-900 dark:text-zinc-200;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply text-zinc-600 font-bold leading-none tracking-wide dark:text-zinc-300;
  }
  h1,
  .h1 {
    @apply text-4xl;
  }
  h2,
  .h2 {
    @apply text-3xl;
  }
  h3,
  .h3 {
    @apply text-2xl leading-relaxed;
  }
  h4,
  .h4 {
    @apply text-xl leading-relaxed font-light;
  }
  h5,
  .h5 {
    @apply text-lg uppercase leading-relaxed tracking-wide font-light;
  }
  h6,
  .h6 {
    @apply text-base uppercase leading-relaxed tracking-wide font-light;
  }

  a {
    @apply text-secondary-500 underline underline-offset-2 opacity-80 transition-all duration-200 ease-in-out;
  }

  button,
  .button {
    @apply bg-primary-500 text-secondary-200 border-2 border-secondary-200 rounded-md py-3 px-5 transition-all duration-200 ease-in-out hover:cursor-pointer;
  }

  label {
    @apply text-zinc-600 dark:text-zinc-300;
  }
}
